<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>This is a sample REST API solution</h1>
            </hgroup>
            <p>Please read the <a href="https://github.com/pritamkarmakar/REST-API/blob/master/README.md">README.md</a> file for detail instruction</p>
        </div>
    </section>
</div>
